image: "buildah/buildah"

buildah:
  variables:
    STORAGE_DRIVER: "vfs"
    BUILDAH_FORMAT: "docker"
  script:
    - export CI_DATE=$(date +%F)
    - podman version
    - buildah version
    - podman login -u $CI_USER -p $CI_TOKEN $CI_REGISTRY
    - podman build -t $CI_REGISTRY/$CI_IMAGE:$DATE -t $CI_REGISTRY/$CI_IMAGE:latest .
    - podman push $CI_IMAGE:$DATE
    - podman push $CI_IMAGE:latest
    - podman logout $CI_REGISTRY
